<h3>Librarian<h3>
<br />
<a href='/books'>Manage Books</a>
<br />
<a href='/books/librarian_search'>Search Books</a>
<br />
<a href='/patrons/add'>Add Patron</a>
<br />
<a href='/books/checkout'>Check out Book to Patron</a>
<br />
<a href='/books/overdue'>List Overdue Books</a>


<h3>Patron</h3>
<a href='/books/patron_search'>Search Books</a>
<br />
